body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background: #042a53;
    color: white;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background: #a72828;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}
